@import "reset";

body, html, #app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #303133;
  background-color: #fff;
  font-family: $font-family1;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*************** layout ******************/
.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-5 { flex: 5 }

.flex-wrap { flex-wrap: wrap; }
.font-bold { font-weight: bold; }
.cursor-pointer { cursor: pointer; }
.align-items-center { align-items: center; }
.flex-row { display: flex; flex-direction: row; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.flex-column { display: flex; flex-direction: column; }
.justify-content-between { justify-content: space-between; }


/*************** z-index  *****************/
.z-index-1000 { z-index: 1000;}
.z-index-100  { z-index: 100; }
.z-index-50   { z-index: 50;  }


/*************** position  ****************/
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.text-align-center { text-align: center; }
.position-covered  { left: 0; top: 0; right: 0; bottom: 0; }
.position-fix      { position: fixed; left: 0; top: 0; right: 0; bottom: 0; }


/*************** font family ****************/
.f-f-sans    { font-family: $font-family1; }
.f-f-neue    { font-family: $font-family2; }
.f-f-arial   { font-family: $font-family5; }
.f-f-avenir  { font-family: $font-family3; }
.f-f-raleway { font-family: $font-family4; }
.f-f-rubik   { font-family: $font-family6; }
.f-f-ptsans  { font-family: $font-family7; }
.f-f-opensans{ font-family: $font-family8; }
.f-f-heitisc { font-family: $font-family9; }
.f-f-wigwag  { font-family: $font-family10; }
.f-f-Noto    { font-family: $font-family1; }


/*************** font size ******************/
.f-s-10 { font-size: 1rem;   }
.f-s-11 { font-size: 1.1rem; }
.f-s-12 { font-size: 1.2rem; }
.f-s-14 { font-size: 1.4rem; }
.f-s-15 { font-size: 1.5rem; }
.f-s-16 { font-size: 1.6rem; }
.f-s-17 { font-size: 1.7rem; }
.f-s-18 { font-size: 1.8rem; }
.f-s-20 { font-size: 2rem;   }
.f-s-22 { font-size: 2.2rem; }
.f-s-24 { font-size: 2.4rem; }
.f-s-25 { font-size: 2.5rem; }
.f-s-30 { font-size: 3rem;   }
.f-s-33 { font-size: 3.3rem; }
.f-s-36 { font-size: 3.6rem; }
.f-s-40 { font-size: 4rem;   }
.f-s-50 { font-size: 5rem;   }
.f-s-80 { font-size: 8rem;   }
.f-s-99 { font-size: 9.9rem; }
.f-s-100{ font-size: 10rem;  }
.f-s-129{ font-size: 12.9rem; }


/*************** font color *****************/
.f-c-0  { color: #fff; }
.f-c-1  { color: #000000 }
.f-c-2  { color: #3D3D3D }
.f-c-10 { color: #C6C6C6 }
.f-c-11 { color: #4A91F2 }
.f-c-12 { color: #3B7DD8 }
.f-c-13 { color: #717171 }
.f-c-14 { color: #AFAFB2 }
.f-c-15 { color: #67686F }
.f-c-16 { color: #8189A9 }


/*************** bg color *****************/
.bg-c-0 { background-color: #ffff; }
.bg-c-1 { background-color: #FBFBFB; }


/*************** border radio ************/
.b-r-2  { border-radius: 2px  }
.b-r-4  { border-radius: 4px  }
.b-r-30 { border-radius: 30px }


/************** overwrite *******************/
a:hover {
  text-decoration: none !important;
}

/*************** shared ******************/


/*************** responsive ******************/
@media screen and (max-width: 1920px) {
  body, html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1440px) {
  body, html {
    font-size: 7.2px;
  }
}

@media screen and (max-width: 1366px) {
  body, html {
    font-size: 7.11px;
  }
}

@media screen and (max-width: 1280px) {
  body, html {
    font-size: 6.6px;
  }
}

@media screen and (max-width: 1100px) {
  body, html {
    font-size: 5.72px;
  }
}


/* ipad pro */
@media screen and (max-width: 1024px) {
  body, html {
    font-size: 5.0px;
  }
}

/* ipad */
@media screen and (max-width: 768px) {
  body, html {
    font-size: 4px;
  }
}

/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {
  body, html {
    font-size: 2.156px;
  }
}

/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
  body, html {
    font-size: 1.95px;
  }
}

/* iphone6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
  body, html {
    font-size: 1.953px;
  }
}

/* iphone5 */
@media screen and (max-width: 320px) {
  body, html {
    font-size: 1.6666px;
  }
}
@media screen and (max-width: 568px) {
  body, html {
    font-size: 2.958px;
  }
}


