@import url("https://use.typekit.net/hjp8kkn.css"); // for wigwag fonts

$font-family1: 'Source Sans Pro', sans-serif;
$font-family2: 'Helvetica Neue';
$font-family3: 'Avenir';
$font-family4: 'Raleway';
$font-family5: 'Arial';
$font-family6: 'Rubik';
$font-family7: 'PT Sans';
$font-family8: 'Open Sans';
$font-family9: 'Heiti SC';
$font-family10: "wigwag-bold",sans-serif;
$font-family11: "Noto Sans";
