$font-family1: 'Source Sans Pro', sans-serif;
$font-family2: 'Helvetica Neue';
$font-family3: 'Avenir';
$font-family4: 'Raleway';
$font-family5: 'Arial';
$font-family6: 'Rubik';
$font-family7: 'PT Sans';
$font-family8: 'Open Sans';


